<!-- <div id="video-mobile">
  <video video-index="{{video_index}}" width="100%" autoplay muted loop playsinline poster>
    <source src="{{ 'video-mobile.mp4'| asset_url }}" type="video/mp4">
  </video>
</div>
<div id="video-desktop">
  <video video-index="{{video_index}}" width="100%" autoplay muted loop playsinline poster>
    <source src="{{ 'video-desktop.mp4'| asset_url }}" type="video/mp4">
  </video>
</div> -->
<div id="video-mobile">
  <video video-index="{{video_index}}" width="100%" autoplay muted loop playsinline poster>
    <source src="{{ 'video-mobile-comp.mp4'| asset_url }}" type="video/mp4">
  </video>
</div>
<div id="video-desktop">
  <video video-index="{{video_index}}" width="100%" autoplay muted loop playsinline poster>
    <source src="{{ 'video-desktop-comp.mp4'| asset_url }}" type="video/mp4">
  </video>
</div>
<!-- <source src="https://player.vimeo.com/video/701875628?h=26bb4e2597" type="video/mp4"> -->